<template>
  <div class="photo-form flex-column">
    <v-form ref="photoForm">
      <v-text-field prepend-icon="person_pin"
                    :label="$t('labels.name')"
                    v-model="name"
                    :rules="nameRules"
                    clearable/>

      <v-select prepend-icon="airport_shuttle"
                :label="$t('labels.region')"
                :rules="regionRules"
                :items="regions"
                item-text="label"
                item-value="type"
                v-model="region"/>

      <v-text-field class="photo-form__address"
                    prepend-icon="navigation"
                    :label="$t('labels.address')"
                    clearable
                    :rules="addressRules"
                    v-model="address"/>

      <v-text-field class="photo-form__phone"
                    prepend-icon="phone"
                    :label="$t('labels.phone')"
                    prefix="+375"
                    clearable
                    type="tel"
                    v-mask="['(##) ### ## ##']"
                    v-model="phone"
                    :rules="phoneRules"/>

      <print-type-select :print-types="printTypes"
                         v-model="printType"/>

      <v-select prepend-icon="photo_size_select_large"
                :label="$t('labels.printFormat')"
                :rules="printFormatRules"
                v-model="printFormat"
                :items="printFormats"
                item-text="label"
                item-value="value"
                return-object/>

      <v-textarea class="photo-form__wishes"
                  prepend-icon="textsms"
                  :label="$t('labels.wishes')"
                  rows="2"
                  clearable
                  v-model="wishes"/>

      <v-text-field class="promo-code"
                    :label="$t('labels.promoCode')"
                    prepend-icon="card_giftcard"
                    v-model="promoCode"/>
    </v-form>
  </div>
</template>

<script>
import { PrintFormData } from '../../models/photo-form.model';
import { PhotoOrderApi } from '../../api/photo.order.api';
import PrintTypeSelect from './print-type-select.component';
import { PrintType } from '../../models/print-type.model';
import { FieldValidationUtils } from '../../utils/field-validation.utils';
import { DeviceRecognitionUtils } from '../../utils/device-recognition.utils';
import { PrintFormat } from '../../models/photo-size.model';

export default {
  name: 'proto-form',
  components: {
    PrintTypeSelect,
  },
  data() {
    return {
      nameRules: [FieldValidationUtils.getMinLengthValidator(3)],
      phoneRules: [FieldValidationUtils.getPhoneValidator()],
      addressRules: [FieldValidationUtils.getRequiredValidator()],
      regionRules: [FieldValidationUtils.getRequiredValidator()],
      printFormatRules: [FieldValidationUtils.getRequiredValidator()],

      name: '',
      phone: '',
      address: '',
      wishes: '',
      region: '',
      promoCode: '',
      printType: new PrintType('', '', []),
      printFormat: new PrintFormat('', 0),

      printTypes: [],
      regions: [],

      photoForm: null,
    };
  },
  async mounted() {
    this.initRefs();
    await this.initFormSettings();
  },
  computed: {
    formData() {
      return new PrintFormData({
        name: this.name,
        phone: this.phone,
        address: this.address,
        wishes: this.wishes,
        printType: this.printType,
        printFormat: this.printFormat.value,
        promoCode: this.promoCode,
        region: this.region,
        i18n: key => this.$t(key),
      });
    },

    printFormats() {
      return this.printType.formats.map(
        format => ({
          label: `${format.label} - ${format.price}р`,
          value: format,
        }),
      );
    },

    isMobile() {
      return DeviceRecognitionUtils.isMobile();
    },
  },
  methods: {
    validate() {
      return this.photoForm.validate();
    },

    async initFormSettings() {
      const settings = await PhotoOrderApi.getSettings();
      this.regions = settings.regions;
      this.printTypes = settings.printTypes;
    },

    initRefs() {
      this.photoForm = this.$refs.photoForm;
    },
  },
};
</script>

<style lang="scss">
.photo-form {
  .v-select {
    white-space: nowrap;
  }

  &__wishes {
    textarea {
      resize: none;
    }
  }

  &__phone {
    input[type=number] {
      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
</style>
