<template>
  <div class="print-type-select flex-column">
    <v-btn class="flex-row"
           @click="printTypeDialog.open()"
           large
           color="blue-grey lighten-3">
      <div>{{ $t('labels.printType') }}:</div>
      <div class="grow-1 bold">{{ printType.label }}</div>
      <div>
        {{ $t('labels.edit')}}
        <v-icon>edit</v-icon>
      </div>
    </v-btn>

    <image-select :elements-to-select="elementsToSelect"
                  :header="$t('labels.printType')"
                  ref="printTypeDialog"
                  v-model="printType"/>
  </div>
</template>

<script>
import ImageSelect from '../../components/image-select.component';
import { PrintType } from '../../models/print-type.model';
import { ImageSelectElement } from '../../models/image-select-element.model';

export default {
  name: 'print-type-select',
  components: {
    ImageSelect,
  },
  props: {
    printTypes: {
      type: Array,
      required: true,
    },
  },
  watch: {
    printType(value) {
      if (!value) {
        return;
      }

      this.$emit('input', value);
    },
  },
  data() {
    return {
      printType: new PrintType('', '', []),
      printTypeDialog: null,
    };
  },
  mounted() {
    this.printTypeDialog = this.$refs.printTypeDialog;
    this.printType = this.printTypes[0] || new PrintType('', '', []);
  },
  computed: {
    elementsToSelect() {
      return this.printTypes.map(
        printType => new ImageSelectElement(printType.thumbnail, printType.label, printType),
      );
    },
  },
};
</script>

<style lang="scss">
.print-type-select {
  padding: 10px;
}
</style>
