.flex-container {
  display: flex
}

.flex-center {
  justify-content: center
}

.flex-end {
  justify-content: flex-end
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-to-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}


.bold {
  font-weight: 900;
}

.no-shrink {
  flex-shrink: 0;
}

.text-to-right {
  text-align: end;
}

.display-none {
  display: none;
}

.fixed {
  position: fixed;
}

.no-wrap {
  white-space: nowrap;
  word-break: keep-all;
}

.flex-content-center {
  justify-content: center;
}


@for $i from 0 to 10 {
  .grow-#{$i} {
    flex-grow: #{$i};
  }
}
