<template>
  <v-img :src="imageSrc"
         class="file-list-item">
    <div class="flex-column image-overlay">
      <div class="file-info flex-column">
        <div class="file-info__bar flex-row">
          <div class="grow-1 flex-column flex-center">
            <div class="file-info__container flex-row">
              <div class="file-info__name">
                <div class="file-info__name-text">
                  {{ filename }}
                </div>
              </div>
              <div class="file-info__file-size">
                {{ size }}
              </div>
            </div>
          </div>
          <v-icon class="close-button" @click="onRemove">
            close
          </v-icon>
        </div>
      </div>
      <div class="progress-bar-container flex-column">
        <v-progress-linear
          class="progress-bar-container__bar"
          height="1vh"
          :value="progress"
          striped
          :color="progress === 100 ? 'green' : 'lime'"/>
      </div>
    </div>
  </v-img>
</template>

<script>
import { FileTypeUtils } from '../../../utils/file-type.utils';
import { FileTransformUtils } from '../../../utils/file-transform.utils';
import { ImageConstants } from '../../../constants/image.constants';

export default {
  name: 'file-list-item',
  props: {
    file: {
      type: File,
      required: true,
    },
    progress: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      imageSrc: '',
      maxSize: 10485760,
    };
  },
  async mounted() {
    if (this.isImage) {
      this.imageSrc = this.file.size > this.maxSize
        ? ImageConstants.PHOTO_PLACEHOLDER
        : await FileTransformUtils.toDataUrl(this.file);
    } else {
      this.imageSrc = ImageConstants.ARCHIVE_IMAGE;
    }

    this.$el.scrollIntoView();
  },
  computed: {
    filename() {
      return this.file.name;
    },

    size() {
      return `${(this.file.size / (1024 * 1024)).toFixed(2)} MB`;
    },

    isImage() {
      return FileTypeUtils.isImage(this.file);
    },
  },
  methods: {
    onRemove() {
      this.$emit('file:remove');
    },
  },
};
</script>

<style lang="scss">
.file-list-item {
  background-color: bisque;

  .image-overlay {
    width: 100%;
    height: 100%;

    .file-info {
      background-color: rgba(0, 0, 0, 0.6);
      color: antiquewhite;

      &__container {
        font-size: 12px;
      }

      &__name {
        text-align: left;
        flex-grow: 1;
      }

      &__name-text {
        text-overflow: ellipsis;
        width: 60px;
        overflow: hidden;
        white-space: nowrap;
      }

      &__file-size {
        flex-grow: 0;
        flex-shrink: 0;
      }

      .close-button.theme--light.v-icon {
        background-color: rgba(215, 215, 215, 0.51);
        color: black;
        border-radius: 2px;

        &:hover {
          background-color: rgba(255, 11, 0, 0.71);
        }
      }
    }

    .progress-bar-container {
      flex-grow: 8;
      justify-content: flex-end;
    }
  }
}

.mobile {
  .file-list-item {
    .file-info {
      &__name-text {
        font-size: 15px;
      }

      &__file-size {
        display: none;
      }

      .close-button.theme--light.v-icon {
        background-color: #d80a00;
      }
    }
  }
}
</style>
