<template>
  <q-virtual-scroll class="file-list"
                    :class="{ 'file-list_has-items': !!fileUploaders.length }"
                    :items="fileUploaders"
                    virtual-scroll-horizontal
                    :virtual-scroll-slice-size="5"
                    :virtual-scroll-item-size="itemWidth">
    <template v-slot="{ item }">
      <file-list-item class="file-list__item"
                      :key="item.id"
                      :file="item.file"
                      :progress="item.progress"
                      @file:remove="onRemove(item)"/>
    </template>
  </q-virtual-scroll>
</template>

<script>
import FileListItem from './file-list-item.component';
import { DeviceRecognitionUtils } from '../../../utils/device-recognition.utils';

export default {
  name: 'file-list',
  components: {
    FileListItem,
  },
  props: {
    fileUploaders: Array,
  },

  methods: {
    onRemove(fileUploader) {
      this.$emit('file:remove', fileUploader);
    },
  },
  computed: {
    isMobile() {
      return DeviceRecognitionUtils.isMobile();
    },

    itemWidth() {
      return window.innerWidth * 0.15;
    },
  },
};
</script>

<style lang="scss">
.file-list {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px -2vw;

  &_has-items {
    box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.53);
  }

  &__item {
    width: 20vh;
    margin-left: 5px;
  }
}
</style>
