<template>
  <div class="file-director">
    <file-loader class="file-director__file-loader"
                 :debounce-time="300"
                 @file:load="onFileLoad"/>

    <file-list class="file-director__list"
               :file-uploaders="fileUploaders"
               @file:remove="onRemove"/>

    <info-dialog ref="infoDialog"
                 :header="errorHeader"
                 :messages="errorMessages"/>
  </div>
</template>

<script>
import { FileUploader } from '../../models/file-uploader.model';
import FileList from './file-list/file-list.compoent.vue';
import FileLoader from './file-loader/file-loader.component.vue';
import InfoDialog from '../../components/info.dialog.component';
import FileTypeValidator from '../../validators/file-type.validator';
import { FileTypesConstants } from '../../constants/file-types.constants';
import { ValidationError } from '../../models/validation-error.model';

export default {
  name: 'file-director',
  components: {
    InfoDialog,
    FileList,
    FileLoader,
  },
  props: {
    storeId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      fileUploaders: [],
      errorHeader: '',
      errorMessages: [],
      infoDialog: null,
      removedFiles: [],
      fileValidator: new FileTypeValidator(
        [...FileTypesConstants.ARCHIVE_TYPES, ...FileTypesConstants.IMAGE_TYPES],
        ['.rar'],
        key => this.$t(key),
      ),
    };
  },

  mounted() {
    this.infoDialog = this.$refs.infoDialog;
  },

  methods: {
    clear() {
      this.fileUploaders = [];
    },

    onFileValidate(file) {
      if (!this.storeId || this.fileUploaders.some(uploader => uploader.file.name === file.name)) {
        return;
      }

      this.fileUploaders.push(new FileUploader(this.storeId, file));
      this.pushUpload();
    },

    onFileLoad(file) {
      const validationResult = this.fileValidator.validate(file);

      if (validationResult) {
        this.setError(validationResult);
        return;
      }

      this.onFileValidate(file);
    },

    /**
     * File director remove event handler
     * @param {FileUploader} fileUploader
     * @returns {void}
     */
    onRemove(fileUploader) {
      if (fileUploader.uploaded) {
        this.removedFiles.push(fileUploader.file.name);
      } else {
        fileUploader.cancelUpload();
      }

      this.fileUploaders.splice(this.fileUploaders.indexOf(fileUploader), 1);
      this.pushUpload();
    },

    async pushUpload() {
      const readyToUpload = uploader => !(uploader.uploaded || uploader.inProgress);
      const uploaderReadyToUpload = this.fileUploaders.find(readyToUpload);

      if (this.inProgress || !uploaderReadyToUpload) {
        return;
      }

      await uploaderReadyToUpload.upload();
      this.pushUpload();
    },

    async validate() {
      const validationResult = this.validateState();

      if (validationResult) {
        await this.setError(validationResult);
        return false;
      }

      return true;
    },

    async setError(validationError) {
      this.errorHeader = validationError.header;
      this.errorMessages = validationError.messages;

      return this.infoDialog.open();
    },

    validateState() {
      const header = this.$t('errors.cannotUploadPhoto');

      if (this.inProgress) {
        return new ValidationError(header, [this.$t('errors.photoLoadInProcess')]);
      }

      if (!this.fileUploaders.length) {
        return new ValidationError(header, [this.$t('errors.noPhotosChosen')]);
      }

      return null;
    },
  },

  computed: {
    inProgress() {
      return this.fileUploaders.some(uploader => uploader.inProgress);
    },
  },
};
</script>

<style lang="scss">
.file-director {
  &__file-loader {
    margin: 5px;
  }
}
</style>
