<template>
  <v-bottom-sheet v-model="isOpen">
    <div class="image-select__wrapper flex-column">
      <div class="flex-row flex-center">
        <div class="image-select__header">{{ header }}</div>
      </div>

      <div class="image-select__container flex-row flex-wrap flex-center">
        <div v-for="elementToSelect in elementsToSelect"
             :key="elementToSelect.label">
          <div class="image-select__element flex-container"
               :class="{ '_selected': lastSelectedElement === elementToSelect }"
               @click="select(elementToSelect)">
            <v-card>
              <v-img :src="elementToSelect.imageUrl"
                     class="image-select__image"/>
              <v-card-title class="image-select__image-title">
                {{ elementToSelect.label }}
              </v-card-title>
            </v-card>
          </div>
        </div>
      </div>
    </div>
  </v-bottom-sheet>
</template>

<script>
import { ModalManagerMixin } from './mixins/modal-manager.mixin';

export default {
  name: 'image-select',
  mixins: [
    ModalManagerMixin,
  ],
  props: {
    elementsToSelect: {
      type: Array,
      required: true,
    },
    header: {
      type: String,
      required: true,
    },
  },
  watch: {
    elementsToSelect(elements) {
      this.lastSelectedElement = elements && elements.length && elements[0];

      if (!this.lastSelectedElement) {
        return;
      }

      this.$emit('input', this.lastSelectedElement.value);
    },
  },
  data() {
    return {
      lastSelectedElement: null,
    };
  },
  methods: {
    select(selectedElement) {
      this.lastSelectedElement = selectedElement;
      this.$emit('input', this.lastSelectedElement.value);
      this.close();
    },
  },
  mounted() {
    this.lastSelectedElement = this.elementsToSelect[0];
  },
};
</script>

<style lang="scss">
.image-select {
  &__wrapper {
    background-color: white;
  }

  &__header {
    font-size: 3vw;
  }

  &__container {
    max-height: 40vw;
  }

  &__element {
    border-radius: 3px;
    margin: 2vw;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    &._selected {
      box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__image {
    width: 12vw;
  }

  &__image-title {
    font-size: 17px;
  }
}

.mobile {
  .image-select {
    &__header {
      font-size: 6vw;
    }

    &__image {
      max-width: 30vw;
    }

    &__image-title {
      font-size: 4vw;
    }
  }
}
</style>
