<template>
  <v-bottom-sheet v-model="isOpen">
    <div class="info-dialog flex-column">
      <div class="info-dialog__header flex-row flex-center">
        <div>
          {{header}}
        </div>
      </div>

      <div class="flex-column flex-center">
        <div class="flex-row flex-center"
             v-for="message in messages"
             :key="message">
          <p>{{message}}</p>
        </div>
      </div>

      <div class="grow-1"></div>

      <div class="info-dialog__actions flex-row flex-center">
        <v-btn outlined
               large
               @click="close">
          OK
        </v-btn>
      </div>
    </div>
  </v-bottom-sheet>
</template>

<script>
import { ModalManagerMixin } from './mixins/modal-manager.mixin';

export default {
  name: 'info-dialog',
  mixins: [
    ModalManagerMixin,
  ],
  props: {
    header: {
      type: String,
      required: true,
    },
    messages: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.info-dialog {
  background-color: white;

  &__header {
    font-weight: bold;
    font-size: 3vw;
  }

  &__actions {
    margin: 10px;
  }
}
</style>
