<template>
  <div class="dnd grow-1 flex-column flex-center"
       @dragover.prevent
       @drop="onDrop"
       @click="onClick">

    <div class="flex-row">
      <div class="flex-column flex-center">
        <div style="text-align: center">{{ message }}</div>
      </div>
      <v-icon :size="72">vertical_align_bottom</v-icon>
    </div>

    <input class="display-none"
           @input="onChooseFiles"
           ref="input"
           type="file"
           multiple/>
  </div>
</template>

<script>
import FileUtils from '../../../utils/data-transfer-read.utils';
import FilePicker from './file-picker.component';

export default {
  name: 'dnd',
  props: {
    iconName: {
      type: String,
      required: true,
    },
    message: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      input: null,
    };
  },
  mounted() {
    this.input = this.$refs.input;
  },
  methods: {
    async onDrop(dropFileEvent) {
      dropFileEvent.stopPropagation();
      dropFileEvent.preventDefault();

      const fileEntries = await FileUtils.getAllFileEntries(dropFileEvent.dataTransfer.items);
      const files = await Promise.all(fileEntries.map(FileUtils.fileEntryToFile));

      this.onFilesLoad(files);
    },

    onFilesLoad(files) {
      this.$emit('files:load', files);
    },

    onChooseFiles(fileEvent) {
      const files = fileEvent.target.files;

      if (!files) {
        return;
      }

      this.$emit('files:load', Array.from(files));
      this.input.value = '';
    },

    onClick() {
      this.input.click();
    },
  },
};
</script>

<style lang="scss">
.dnd {
  border-radius: 0.5vh;
  background-color: whitesmoke;
  border-style: dashed;
  border-width: 2px;
  border-color: lightgray;
  justify-content: center;
  font-size: 2vh;
  text-align: start;
  flex-shrink: 1;

  &:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
}
</style>
