<template>
  <div class="flex-column">
    <dnd class="grow-1"
         v-if="!isMobile"
         icon-name="add_a_photo"
         :message="$t('labels.dragAndDropCallToActionText')"
         @files:load="onFilesLoad"/>

    <file-picker v-if="isMobile"
                 class="mobile-file-picker"
                 icon-name="add_a_photo"
                 @files:load="onFilesLoad">
      <v-btn fab
             large
             color="red accent-3">
        <v-icon>add_a_photo</v-icon>
      </v-btn>
    </file-picker>
  </div>
</template>

<script>
import Dnd from './dnd.component';
import { DeviceRecognitionUtils } from '../../../utils/device-recognition.utils';
import FilePicker from './file-picker.component';
import { PendingUtils } from '../../../utils/pending.utils';

export default {
  name: 'file-loader',
  components: {
    FilePicker,
    Dnd,
  },
  props: {
    debounceTime: {
      type: Number,
      required: true,
    },
  },
  methods: {
    async onFilesLoad(files) {
      if (this.isMobile) {
        setTimeout(() => document.querySelector('.scroll-container').scrollIntoView(), 500);
      }

      for (let file of files) {
        this.$emit('file:load', file);
        await PendingUtils.pending(this.debounceTime);
      }
    },
  },
  computed: {
    isMobile() {
      return DeviceRecognitionUtils.isMobile();
    },
  },
};
</script>

<style lang="scss">
.mobile-file-picker {
  position: fixed;
  bottom: 6vh;
  right: 0;
  margin: 1vh;
  z-index: 100;
}
</style>
