<template>
  <div class="text-to-center"
       @click="onChooseFilesClick">
    <slot />
    <input @input="onChooseFiles"
           class="display-none"
           ref="input"
           type="file"
           multiple>
  </div>
</template>

<script>

export default {
  name: 'file-picker',
  props: {
    iconName: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      image: '',
      input: null,
    };
  },
  mounted() {
    this.input = this.$refs.input;
  },
  methods: {
    onChooseFiles(fileEvent) {
      const files = fileEvent.target.files;

      if (!files) {
        return;
      }

      this.$emit('files:load', Array.from(files));
    },

    onChooseFilesClick() {
      this.input.click();
    },
  },
};
</script>
