<template>
  <v-app-bar app>
    <v-spacer></v-spacer>
    <img class="app-header__logo"
         :src="logoImage"
         :alt="$t('labels.photoPrintLogo')">

    <v-toolbar-title class="headline text-uppercase">
      <span>  {{ $t('labels.print') }}</span>
      <span class="font-weight-light"> {{ $t('labels.photo') }}</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn text
           href="https://github.com/vuetifyjs/vuetify/releases/latest"
           target="_blank">
    </v-btn>
  </v-app-bar>
</template>

<script>
import { ImageConstants } from '../../constants/image.constants';

export default {
  name: 'app-header',
  data() {
    return {
      logoImage: ImageConstants.LOGO,
    };
  },
};
</script>
<style lang="scss">
  .app-header {
    &__logo {
      width: 7vh;
      margin-right: 4vw;
    }
  }
</style>