<template>
  <v-app v-if="!isMobile">
    <div class="app">
      <div class="flex-row flex-center">
        <div class="app__content flex-column">
          <div class="app__form-section">
            <app-header/>
            <proto-form ref="photoForm"/>
          </div>

          <file-director :store-id="storeId"
                         ref="fileDirector"/>

          <info-dialog ref="submitSuccessDialog"
                       :header="$t('statements.orderCompleted')"
                       :messages="[]"/>

          <v-footer v-if="photoAmount"
                    fixed>
            <div></div>
            <v-btn @click="onSend"
                   rounded
                   large
                   color="blue">
              {{ $t('labels.send') }}
            </v-btn>
            <div class="app__price-section flex-column">
              <div>{{ $t('labels.amount') }} {{ this.photoAmount }} {{ $t('labels.photo') }}</div>
              <div>{{ $t('labels.price') }} {{ this.printCost }}p.</div>
            </div>
          </v-footer>
        </div>
      </div>
    </div>
  </v-app>

  <v-app v-else class="mobile">
    <div class="app">
      <app-header/>

      <div class="app__form-section">
        <proto-form ref="photoForm"/>
      </div>

      <file-director :store-id="storeId"
                     ref="fileDirector"/>

      <info-dialog ref="submitSuccessDialog"
                   :header="$t('statements.orderCompleted')"
                   :messages="[]"/>

      <v-footer v-if="photoAmount"
                fixed>
        <v-btn @click="onSend"
               rounded
               large
               color="blue">
          {{ $t('labels.send') }}
        </v-btn>
        <div class="app__price-section flex-column">
          <div>{{ $t('labels.amount') }} {{ this.photoAmount }} {{ $t('labels.photo') }}</div>
          <div>{{ $t('labels.price') }} {{ this.printCost }}p.</div>
        </div>
      </v-footer>


      <div style="height: 4.5vh"
           class="scroll-container"
           v-if="isMobile"></div>
    </div>
  </v-app>
</template>

<script>
import ProtoForm from './modules/order-form/photo-form.component';
import { DeviceRecognitionUtils } from './utils/device-recognition.utils';
import AppHeader from './modules/header/header.component';
import { PhotoOrderApi } from './api/photo.order.api';
import FileDirector from './modules/file-director/file-director.component';
import InfoDialog from './components/info.dialog.component';

export default {
  name: 'root',
  data() {
    return {
      storeId: '',
      submitSuccessDialog: null,
      photoForm: null,
      fileDirector: null,
    };
  },
  components: {
    InfoDialog,
    FileDirector,
    AppHeader,
    ProtoForm,
  },

  async mounted() {
    this.submitSuccessDialog = this.$refs.submitSuccessDialog;
    this.fileDirector = this.$refs.fileDirector;
    this.photoForm = this.$refs.photoForm;
    await this.initStoreId();
  },

  computed: {
    isMobile() {
      return DeviceRecognitionUtils.isMobile();
    },

    submitOrderData() {
      return {
        formData: this.photoForm.formData,
        removedFiles: this.fileDirector.removedFiles,
      };
    },

    printCost() {
      return this.printFormatPrice && (this.printFormatPrice * this.photoAmount).toFixed(2);
    },

    printFormatPrice() {
      return this.photoForm
        && this.photoForm.formData.printFormat
        && this.photoForm.formData.printFormat.price;
    },

    photoAmount() {
      return this.fileDirector && this.fileDirector.fileUploaders.length;
    },
  },

  methods: {
    async onSend() {
      const canSubmit = await this.photoForm.validate() && await this.fileDirector.validate();

      if (canSubmit) {
        await this.submitOrder();
      }
    },

    async submitOrder() {
      await PhotoOrderApi.submitOrder(this.storeId, this.submitOrderData);
      this.submitSuccessDialog.open();
      this.fileDirector.clear();
      await this.initStoreId();
    },

    async initStoreId() {
      this.storeId = await PhotoOrderApi.createOrder();
    },
  },
};
</script>


<style lang="scss">
  .app {
    background: #ececec;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;

    &__content {
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
      width: 30vw;
      min-width: 600px;
      margin-top: 10vh;
      margin-bottom: 15vh;
      padding: 2vw;
      border-radius: 3px;
    }

  &__form-section {
    margin: 10px;
  }

  &__send-button {
    margin: 10px;
  }

  &__price-section {
    margin-left: 10px;
  }
}

.mobile {
  .app {
    background: white;
    padding-top: 56px;
  }
}

.theme--light.v-footer {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 15px;
}
</style>
